﻿@using PromotionService.Domain.Models
<link rel="stylesheet" href="code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<link href="~/css/sb-admin-2.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<div class="">
    <div class="card row mb-4">
        <div class="card-header">
            Основное
        </div>
        <div class="card-body">
            <div class="form-group">
                <input class="form-control form-control-user mb-3" placeholder="Название" type="text" id="title" />
                <textarea class="form-control form-control-user" placeholder="Описание" id="desc"></textarea>
            </div>
        </div>
    </div>

    <div class="card row mb-4">
        <div class="card-header">
            Параметры
        </div>
        <div class="card-body">
            <div class="form-group">
                <div class="row card shadow mb-4">
                    <div class="card-header py-3">
                        <div class="row">
                            <h5 class="m-0 col-sm-11 font-weight-bold text-primary">Ограничения по балансу</h5>
                            <input class="col-sm-1" type="checkbox" id="amountCond">
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <span>Баланс</span>
                                <input class="form-control" type="number" id="amount">
                            </div>
                            <div class="col-sm-6">
                                <input type="radio" name="amountRadio" value="true" checked id="IsNeedToBeLowerThenAmount">
                                <label for="IsNeedToBeLowerThenAmount">Меньше</label>
                                <input type="radio" name="amountRadio" value="false" id="IsNeedToBeHigherThenAmount">
                                <label for="IsNeedToBeHigherThenAmount">Больше</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row card shadow mb-4">
                    <div class="card-header py-3">
                        <div class="row">
                            <h5 class="m-0 col-sm-11 font-weight-bold text-primary">Ограничения по тарифу</h5>
                            <input class="col-sm-1" type="checkbox" id="planCond">
                        </div>
                    </div>
                    <div class="card-body" style="height:150px;">
                        <div class="row">
                            <div class="col-sm-2">Разрешенные тарифы</div>
                            <div class="col-sm-10" style="height:100px; overflow:auto">
                                @foreach (Plan plan in ViewBag.Plans)
                                {
                                    <div class="row">
                                        <div class="col-sm-10">
                                            @plan.Name
                                        </div>
                                        <div class="col-sm-2">
                                            <input type="checkbox" class="plan-cb" id="@plan.Id">
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row card shadow mb-4">
                    <div class="card-header py-3">
                        <div class="row">
                            <h5 class="m-0 col-sm-11 font-weight-bold text-primary">Ограничения по опциям</h5>
                            <input class="col-sm-1" type="checkbox" id="optionCond">
                        </div>
                    </div>
                    <div class="card-body" style="height:150px;">
                        <div class="row">
                            <div class="col-sm-2">Необходимые опции</div>
                            <div class="col-sm-10" style="height:100px; overflow:auto">
                                @foreach (Option option in ViewBag.Options)
                                {
                                    <div class="row">
                                        <div class="col-sm-10">
                                            @option.Name
                                        </div>
                                        <div class="col-sm-2">
                                            <input type="checkbox" class="optioncond-cb" id="@option.Id">
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row card shadow mb-4">
                    <div class="card-header py-3">
                        <div class="row">
                            <h5 class="m-0 col-sm-11 font-weight-bold text-primary">Ограничения по времени подключения</h5>
                            <input class="col-sm-1" type="checkbox" id="dateCond">
                        </div>
                    </div>
                    <div class="card-body " style="height:100px;">
                        <div class="">
                            <div class="col-sm-6">
                                <div class="row">
                                    <span class="col-sm-2">Время жизни</span>
                                    <div class="col-sm-offset-1"></div>
                                    <span class="col-sm-2 small">В годах</span>
                                    <input class="form-control col-sm-2" type="number" id="years">
                                    <div class="col-sm-offset-1"></div>
                                    <span class="col-sm-2 small">В месяцах</span>
                                    <input class="form-control col-sm-2" type="number" id="months">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <input type="radio" name="dateRadio" value="true" checked id="IsNeedToBeEarlier">
                                <label for="IsNeedToBeEarlier">Раньше</label>
                                <input type="radio" name="dateRadio" value="false" id="IsNeedToBeOlder">
                                <label for="IsNeedToBeOlder">Позже</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<div class="card row">
    <div class="card-header">
        Подключаемые опции
    </div>
    <div class="card-body">
        <div class="col-sm-12" style="height:100px; overflow:auto">
            @foreach (Option option in ViewBag.Options)
            {
                <div class="row">
                    <div class="col-sm-10">
                        @option.Name
                    </div>
                    <div class="col-sm-2">
                        <input type="checkbox" class="option-cb" id="@option.Id">
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div class="btn btn-primary btn-lg" onclick="postForm()">Создать</div>

<div  style="opacity:1;" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Успешно!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalContent">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $("#date").datepicker();
    });

    function postForm() {

        var title = $('#title').val();
        var desc = $('#desc').val();
        var amount = $('#amount').val();
        var amountLeft = $('#IsNeedToBeLowerThenAmount').is(":checked");
        var dateLeft = $('#IsNeedToBeEarlier').is(":checked");
        var years = $('#years').val();
        var months = $('#months').val();

        var options = [];
        $('.option-cb').each(function () {
            if (this.checked)
                options.push($(this).attr('id'));
        });

        var optionsCond = [];
        $('.optioncond-cb').each(function () {
            if (this.checked)
                options.push($(this).attr('id'));
        });

        var plans = [];
        $('.plan-cb').each(function () {
            if (this.checked)
                plans.push($(this).attr('id'));
        });

        var amountCond = $('#amountCond').is(':checked');
        var dateCond = $('#dateCond').is(':checked');
        var planCond = $('#planCond').is(':checked');
        var optionCond = $('#optionCond').is(':checked');

        $.ajax({
            type: "POST",
            datatype: "json",
            url: "/Home/Create",
            data: JSON.stringify({
                Title: title,
                Description: desc,
                OptionIds: options,
                BalanceConditionIsActive: amountCond,
                DateConditionIsActive: dateCond,
                PlanCondition: planCond,
                Amount: amount,
                IsNeedToBeLowerThenAmount: amountLeft,
                Years: years,
                Months: months,
                IsNeedToBeEarlier: dateLeft,
                OptionsConditionIsActive: optionCond,
                OptionCondIds: optionsCond,
                PlanIds: plans
            }),
            contentType: 'application/json; charset=utf-8',

        }).done(function (data) {
            data.isSuccess ? $('#exampleModalLabel').text('Успешно!') : $('#exampleModalLabel').text('Ошибка!');
            $('#modalContent').text(data.message);
            $('#exampleModal').modal('show');

        }).fail(function (data) {
            $('#exampleModal').modal('show');

        });
    }
</script>